<ion-header>
  <ion-toolbar>
    <ion-title>Hod kostkou</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Vyber kostku</h2>

  <ion-segment [(ngModel)]="dice" value="6">
    <ion-segment-button [value]="6"><ion-label>D6</ion-label></ion-segment-button>
    <ion-segment-button [value]="10"><ion-label>D10</ion-label></ion-segment-button>
    <ion-segment-button [value]="20"><ion-label>D20</ion-label></ion-segment-button>
  </ion-segment>

<ion-button 
    (click)="hod()" 
    [disabled]="cekame"
    expand="block" 
    class="ion-margin-top">

    <span *ngIf="!cekame">Hoď kostkou!</span>
    <ion-spinner *ngIf="cekame" name="crescent"></ion-spinner>

  </ion-button>

  <div *ngIf="vysledek" class="ion-text-center ion-margin-top">
    <h2>Padlo ti:</h2>
    <h1 style="font-size: 4rem; margin-top: 0;">{{ vysledek }}</h1>
  </div>

 
</ion-content>
